asgiref==3.11.1
bandit==1.9.4
Django==6.0.3
django-environ==0.13.0
django-filter==25.2
djangorestframework==3.16.1
flake8==7.3.0
flake8-bandit==4.1.1
inflection==0.5.1
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
pillow==12.2.0
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
PyYAML==6.0.3
rich==15.0.0
sqlparse==0.5.5
stevedore==5.7.0
uritemplate==4.2.0
