{% load static %}

<header class="header">
    <div class="container header__inner">
        <div class="header__top">
            <a href="{% url 'pages:index' %}" class="logo">
                <img src="{% static 'images/main icon.jpg' %}" alt="Logo" class="logo__icon">
                <span class="logo__text">Flora</span>
            </a>
            <nav class="nav">
                {% with request.resolver_match.view_name as view_name %}
                <ul class="nav__list">
                    <li><a href="{% url 'pages:index' %}" class=".nav__link {% if view_name == 'pages:index' %}nav__link--active {% endif %}">Главная</a></li>
                    <li><a href="{% url 'master_dashboard:classifier_nodes' %}" class="nav__link {% if view_name == 'master_dashboard:classifier_nodes' %}nav__link--active{% endif %}">Классификатор</a></li>
                    <li><a href="{% url 'master_dashboard:services' %}" class="nav__link {% if view_name == 'master_dashboard:services' %}nav__link--active{% endif %}">Услуги</a></li>
                    <li><a href="{% url 'master_dashboard:parameters' %}" class="nav__link {% if view_name == 'master_dashboard:parameters' %}nav__link--active{% endif %}">Параметры</a></li>
                    <li><a href="{% url 'master_dashboard:enumerations' %}" class="nav__link {% if view_name == 'master_dashboard:enumerations' %}nav__link--active{% endif %}">Перечисления</a></li>
                    <li><a href="{% url 'master_dashboard:measuring_units' %}" class="nav__link {% if view_name == 'master_dashboard:measuring_units' %}nav__link--active{% endif %}">Единицы</a></li>
                    <li><a href="{% url 'pages:about' %}" class="nav__link {% if view_name == 'pages:about' %}nav__link--active{% endif %}">О системе</a></li>
                </ul>
                {% endwith %}
            </nav>
        </div>
    </div>
</header>