{% extends 'base.html' %}
{% load static %}

{% block title %}Сортировка значений{% endblock %}

{% block content %}
<div class="form-page">
    <div class="form-card">
        <h2 class="form-title">Сортировка значений</h2>
        <form method="post" class="styled-form">
            {% csrf_token %}
            
            {{ formset.management_form }}
            
            {% for form in formset %}
            
            {% with forloop.counter0|add:1 as next_idx %}
            {% with parameters|slice:next_idx|last as parameter %}
            {{ parameter.name }}
            {% endwith %}
            {% endwith %}

            <div class="form-group">
                {{ form.min_value.label_tag }}
                {{ form.min_value }}
            </div>
            <div class="form-group">
                {{ form.max_value.label_tag }}
                {{ form.max_value }}
            </div>

            {% if form.errors %}
            <div class="form-errors">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <p>{{ error }}</p>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="form-actions">
                <a href="{% url 'master_dashboard:services' %}" class="btn btn-cancel">Отмена</a>
                <button type="submit" class="btn btn-save">Применить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}