{% extends 'base.html' %}
{% load static %}

{% block title %}Сортировка значений{% endblock %}

{% block content %}
<div class="form-page">
    <div class="form-card">
        <h2 class="form-title">Сортировка значений</h2>
        <button id="openModalBtn" class="btn btn-help">?</button>

        <div id="myModal" class="filter-info">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>Как пользоваться фильрацией</h3>
                <p>Форма состоит из блоков <strong>название-минимальное значение-максимальное значение.</strong></p>
                <p>Чтобы не учитывать параметр при фильтрации - оставьте оба поля пустыми</p>
                <p>Чтобы фильтровать больше/меньше какого-либо значения - заполните только одно поле</p>
                <p>Чтобы фильтровать по конкретному значению - заполните оба поля этим значением</p>
            </div>
        </div>
        <form method="post" class="styled-form">
            {% csrf_token %}
            
            {{ formset.management_form }}
            
            {% for form in formset %}
            
            {% with forloop.counter0|add:1 as next_idx %}
            {% with parameters|slice:next_idx|last as parameter %}
            {{ parameter.name }}
            {% endwith %}
            {% endwith %}

            <div class="form-group">
                {{ form.min_value.label_tag }}
                {{ form.min_value }}
            </div>
            <div class="form-group">
                {{ form.max_value.label_tag }}
                {{ form.max_value }}
            </div>

            {% if form.errors %}
            <div class="form-errors">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <p>{{ error }}</p>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="form-actions">
                <a href="{% url 'master_dashboard:services' %}" class="btn btn-cancel">Отмена</a>
                <button type="submit" class="btn btn-save">Применить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const modal = document.getElementById('myModal');
    const btn = document.getElementById('openModalBtn');
    const span = document.getElementsByClassName('close')[0];
    
    // Открыть окно
    btn.onclick = function() {
        modal.style.display = 'block';
    }
    
    // Закрыть через крестик
    span.onclick = function() {
        modal.style.display = 'none';
    }
    
    // Закрыть при клике вне окна
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    }
</script>
{% endblock %}